// fonts
$primary-font: 'Inter', sans-serif;
$secondary-font: 'SF Pro Display', sans-serif;

// colors
$primary-color: #fff;
$primary-background-color: #1d1d1d;
$secondary-background-color: #262626;
$light-background-color: #2f2f2f;
$primary-border-color: #4d4d4d;

// ui
$primary-border-radius: 12px;
$secondary-border-radius: 8px;
$large-border-radius: 24px;
$small-border-radius: 4px;
