body {
  background: $primary-background-color;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: $primary-color;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  -webkit-user-drag: none;
}

p {
  margin: 0 0 16px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  margin: 0 0 3rem 0;
  letter-spacing: normal;
  line-height: 1.2;
  font-weight: 500;
}

.app-wrapper {
  display: flex;
  align-items: center;
  min-height: 100svh;
  padding: 32px 0;
  overflow-x: hidden;
}

.container {
  flex: 1;
  max-width: 1500px;
  padding: 0 32px;
  margin: 0 auto;

  @include respond-to(medium) {
    padding: 0 16px;
  }
}

// skeletor styles
.vue-skeletor {
  border-radius: $primary-border-radius;
  background-color: #333 !important;

  &:not(.vue-skeletor--shimmerless) {
    &:after {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1),
        rgba(37, 22, 22, 0)
      ) !important;
    }
  }
}

// vue grid styles
.vue-grid-item.vue-grid-placeholder {
  background: $primary-background-color;
  opacity: 1;
}
